# Local data products
*.fits
*.asdf
*.png
*.pdf
*.csv
*.txt
*.json

# logs
*.err
*.out
*.log

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Type checkers / linters
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
.ruff_cache/

# Translations
*.mo
*.pot

# Django / Flask
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache

# Scrapy
.scrapy

# Sphinx
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PEP 582
__pypackages__/

# Project settings
.python-version

# Packaging / dependency managers
.pdm.toml
.pdm-python
.pdm-build/
celerybeat-schedule
celerybeat.pid

# IDEs / editors
.idea/
.fleet/
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!*.code-workspace
*.iml

# Local tooling
.codex
